@font-face {
  font-family: "GeistBold";
  src:
    url("/fonts/geist/geist-bold-webfont.woff2") format("woff2"),
    url("/fonts/geist/geist-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeistMedium";
  src:
    url("/fonts/geist/geist-medium-webfont.woff2") format("woff2"),
    url("/fonts/geist/geist-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeistRegular";
  src:
    url("/fonts/geist/geist-regular-webfont.woff2") format("woff2"),
    url("/fonts/geist/geist-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeistSemiBold";
  src:
    url("/fonts/geist/geist-semibold-webfont.woff2") format("woff2"),
    url("/fonts/geist/geist-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-green-gradient {
  background: linear-gradient(90deg, #00dd75 -28.74%, #60efff 129.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#custom-width a {
  display: block;
  width: 100%;
}

.text-red-gradient {
  background: linear-gradient(90deg, #ff0f7b 50.74%, #f89b29 120.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-purple-gradient {
  background: linear-gradient(90deg, #875bf7f8 70.74%, #dbb3b1 129.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-teal-gradient {
  background: linear-gradient(90deg, #06aed4f8 70.74%, #d0ffd6 129.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  overflow-x: hidden;
  color: rgb(36, 36, 36);
}