---
import { getImage } from "astro:assets";

import bgGrid from "../../images/bg-grid.svg";
const heroBg = await getImage({ src: bgGrid, format: "svg" });
import Button from "../elements/Button.astro";
---

<section class="w-full h-screen py-40 overflow-hidden relative">
  <div class="h-full absolute w-full top-0 z-30" style={`background-image: url(${heroBg.src});`}>
  </div>
  <div class="top-0 left-0 z-20 bg-zinc-500 w-screen h-screen absolute opacity-5"></div>

  <div class="glow-container">
    <div class="glow"></div>
  </div>

  <div class="container mx-auto max-w-screen-xl p-5">
    <div class="z-[80] relative">
      <div class="font-bold flex sm:justify-start justify-center mt-10 mb-10">
        <p class="sm:text-4xl text-lg mr-3 text-gray-600">
          Organize
          <span
            class="bg-gradient-to-r from-cyan-500 to-blue-500 align-middle p-2 inline-block w-fit rounded-full"
          ></span>
        </p>
        <p class="sm:text-4xl text-lg mr-3 text-gray-600">
          Participate
          <span
            class="bg-gradient-to-r from-red-500 to-amber-500 p-2 inline-block w-fit align-middle rounded-full"
          ></span>
        </p>
        <p class="sm:text-4xl text-lg text-gray-600">Attend</p>
      </div>
      <h1 class="sm:text-7xl text-5xl sm:text-left text-center font-bold">
        <span class="flex items-end flex-wrap justify-center sm:justify-normal">
          <span class="inline-block"> Tech</span>
          <span class="overflow-hidden block h-[100px] sm:ml-5 ml-0">
            <span class="spin text-orange-500">Events</span>
            <span class="spin text-cyan-500">Hangouts</span>
            <span class="spin text-red-500">Festivals</span>
            <span class="spin text-teal-500">Summits</span>
            <span class="spin text-emerald-500">Parties</span>
            <span class="spin text-indigo-500">Workshops</span>
            <span class="spin text-orange-500">Events</span>
          </span>
          <span class="block w-full mt-8"> in Africa</span>
        </span>
      </h1>
      <div class="flex sm:flex-row flex-col text-center sm:gap-10 gap-5 mt-10">
        <Button href="/events" label="Explore Events" size="lg" style="primary" />
        <Button href="/host-event" label="Host an Events" size="lg" style="secondary" />
      </div>
    </div>
  </div>
</section>

<style>
  .spin {
    display: block;
    height: 100%;
    padding: 0 10px;
    animation: spin_words 10s infinite;
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67, 1);
    overflow: hidden;
  }

  @keyframes spin_words {
    10% {
      transform: translateY(-82%);
    }
    20% {
      transform: translateY(-70%);
    }
    30% {
      transform: translateY(-182%);
    }
    40% {
      transform: translateY(-170%);
    }
    50% {
      transform: translateY(-282%);
    }
    60% {
      transform: translateY(-270%);
    }
    70% {
      transform: translateY(-382%);
    }
    80% {
      transform: translateY(-370%);
    }
    90% {
      transform: translateY(-482%);
    }
    100% {
      transform: translateY(-470%);
    }
  }

  .glow-container {
    width: 1000px;
    height: 800px;
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 5s;
    top: 50px;
    left: 50px;
    z-index: 20;
    /* Add the following line to specify the transform property */
    transform-origin: center center;
    --glow-before-background: green;
  }
  .glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--glow-before-background);
    transition: background 2s cubic-bezier(0.64, 0.04, 0.35, 1);
    border-radius: 50%;
    filter: blur(150px);
    z-index: 20;
  }

  @keyframes orbit {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const BOX_SIZE = 300;

  // Function to set random BgColor and position within the viewport
  const setProperties = (): { width: number; height: number; bgColor: string } => {
    const randomBgColor = `${Math.floor(Math.random() * 256)}, ${Math.floor(
      Math.random() * 256
    )}, ${Math.floor(Math.random() * 256)}`;

    const width = document.documentElement.clientWidth - BOX_SIZE;
    const height = document.documentElement.clientHeight - BOX_SIZE;
    return {
      width,
      height,
      bgColor: randomBgColor,
    };
  };

  // Function to animate the box within the viewport
  const animateBox = (box: HTMLElement): void => {
    const { bgColor, width, height } = setProperties();
    gsap.to(box, {
      width: width,
      height: height,
      rotation: 360,
      transformOrigin: "center center",
      duration: 3,
      ease: "linear",
      onComplete: () => {
        // Set a new background color for the ::before element
        const newBackgroundColor = `rgb(${bgColor}`;
        box.style.setProperty("--glow-before-background", newBackgroundColor);

        // Continue the animation
        animateBox(box);
      },
    });
  };

  const main = (): void => {
    const movingBox = document.querySelector(".glow-container") as HTMLElement;

    animateBox(movingBox);
  };

  // Call the main function when the DOM is ready
  document.addEventListener("DOMContentLoaded", main);
</script>
