---
import RecentEventList from "../modules/RecentEventList.astro";
---

<section class="py-20 relative">
  <div class="container mx-auto max-w-screen-xl p-5">
    <div class="">
      <h2 class="text-5xl font-semibold">
        Take a look <span class="text-2xl">at</span>
        <br />
        <p class="text-2xl font-normal">some events listed on</p>
        <p class="text-xl text-gray-400 font-normal">Tech Conf Africa</p>
      </h2>
      <div class="flex justify-center w-full">
        <div
          class="absolute h-[445px] rounded-full w-[445px] blur-[105px] bg-[rgba(227,25,143,0.05)]"
        >
        </div>
      </div>
      <div class="flex justify-center w-full h-full">
        <RecentEventList />
      </div>
      <div class="text-5xl font-semibold lg:-mt-48 md:-mt-20 mt-2 md:float-right float-none">
        <p class="mb-2">They are closer</p>
        <p class="text-2xl font-normal">to you than ever before</p>
      </div>
    </div>
  </div>
</section>
