.hero-section {
  background: url("../../../public/bg-pattern.svg");
}
.spin {
  display: block;
  height: 100%;
  padding: 0 10px;
  animation: spin_words 10s infinite;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67, 1);
  overflow: hidden;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  20% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(-212%);
  }
  40% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-312%);
  }
  60% {
    transform: translateY(-300%);
  }
  70% {
    transform: translateY(-412%);
  }
  80% {
    transform: translateY(-400%);
  }
  90% {
    transform: translateY(-512%);
  }
  100% {
    transform: translateY(-500%);
  }
}
