---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/elements/Button.astro"
import Icon from "../../components/elements/Icon.astro"

---

<Layout title="Event Details" description="event details page" keywords="technology" image="">
    <!-- event hero section -->
    <section class="pt-40 sm:mx-[149px] mx-4">
        <div class="border rounded-lg sm:h-44 h-[355px] flex sm:flex-row flex-col bg-gray-200">
            <!-- content div -->
            <div class="my-[13.5px] sm:w-[783px] w-[343px] sm:h-[152px] h-[176px] sm:order-1 order-2">
                <!-- breadcrumb on desktop -->
                <nav class="text-gray-700 text-sm mb-4 sm:inline hidden" aria-label="Breadcrumb">
                  <ol class="list-none pl-4 inline-flex">
                    <li class="flex items-center">
                      <a href="#">Events</a>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M6 12.5L10 8.5L6 4.5" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                      </svg>
                    </li>
                    <li class="flex items-center">
                      <a href="#" aria-current="page">Event Details</a>
                    </li>
                  </ol>
                </nav>
                <!-- text content -->
                <div class="pl-4 text-gray-900 sm:text-4xl text-2xl leading-8  font-semibold">
                    Sustainable development of Tech skills among local communities
                </div>
                <!-- icons -->
                <div class="flex items-center">
                  <div class="ml-4 mt-3 flex sm:bg-transparent bg-black items-center border rounded-md h-10 w-10">
                    <a href="#" class="p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 22C19.6569 22 21 20.6569 21 19C21 17.3431 19.6569 16 18 16C16.3431 16 15 17.3431 15 19C15 20.6569 16.3431 22 18 22Z" stroke="var(--icon-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path
                          d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="var(--icon-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M8.58997 13.5098L15.42 17.4898" stroke="var(--icon-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M18 8C19.6569 8 21 6.65685 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.65685 16.3431 8 18 8Z" stroke="var(--icon-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M15.41 6.50977L8.58997 10.4898" stroke="var(--icon-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                      </svg>
                    </a>
                  </div>
                    <!-- organizer name and image -->
                  <div class="ml-[124px] sm:hidden bg-white border border-[#ccc] rounded-full h-[30px] flex justify-center">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="p-[2px]">
                        <circle cx="12" cy="12" r="12" fill="url(#pattern0)"/>
                        <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_2174_24111" transform="scale(0.015625)"/>
                        </pattern>
                        <image id="image0_2174_24111" width="64" height="64" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAONJREFUeF7t20EOhEAIRFG4/6F7DvEnYeFzryQIv6pBd2behOu9dPvsbog+k+NLgArQAqmJcw9iAAhSgZKB3IJkkAySQTJ4CiE+gA8oBeg0mH3Ai084P89HhqwEqIA209ICsQdjAeaZIgaAYKxBDMCAYy8fXwAIgiAIcoJpJEYGI4VjB3YrbC9gL2AvkCB43cM5PgZgAAZgQFnNZAhdGykQBEEQBEEQDBmgAm2glM/z+QUYisYUGoldO7kY32IEAzCg6RgIRgjFAsw+AgRBMNYgBmCAT2TCYfoPPz/HCqQCX1eBHzHnv7C7WhBSAAAAAElFTkSuQmCC"/>
                        </defs>
                      </svg>                      
                        <span class="text-sm font-medium text-gray-900 ml-2 py-[5px] pr-3">Organizers Name</span>
                  </div>
                </div>
            </div>

            <!-- image div -->
            <div class="sm:flex-grow bg-cover bg-center border-none sm:rounded-br-lg rounded-tr-lg sm:rounded-tl-none rounded-tl-lg h-[176px] sm:order-2 order-1" style="background-image: url('/event-page.jpeg');"></div>
        </div>
    </section>

    <!-- event about section and event details -->
    <section class="flex justify-between items-center sm:w-[1142px] w-[375px] sm:mx-[149px] mx-4 mt-16">
      <div class="flex sm:flex-row flex-col">
        <!-- about section -->
        <div class="sm:w-[704px] w-auto sm:order-1 order-2 sm:mr-[86px]">
          <p class="text-xl font-medium mb-4 text-gray-500">About</p>
          <hr />
          <!-- about event content -->
          <div class="mt-4">
            <p class="text-base text-justify text-gray-500">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis aliquam sem
              nec commodo. Quisque lobortis, felis at cursus mattis, ligula nulla tristique augue, non
              tristique dui sapien ut diam. Morbi nisi leo, aliquam id ligula quis, imperdiet tristique
              nunc. Phasellus at bibendum purus, sed tincidunt ipsum. Maecenas ante libero, tincidunt ac
              iaculis at, cursus eget nisl. Morbi in dictum felis. Phasellus dui felis, placerat in
              blandit vel, laoreet et ligula. Quisque pharetra risus eu nisl mollis, ultrices porttitor
              leo volutpat. Cras velit sem, ornare ut maximus vitae, malesuada ut mauris. Pellentesque
              scelerisque nisl quis dui imperdiet interdum. Proin purus quam, rhoncus imperdiet porta
              eget, maximus eget nisi. Donec vitae odio eu orci convallis vehicula in id ligula. Sed sit
              amet mi porta, eleifend turpis vitae, pretium ex. Suspendisse finibus dui ligula, id
              malesuada turpis faucibus in. Quisque tincidunt aliquam turpis vitae gravida. Duis
              efficitur vel sem id porttitor. Nam venenatis nunc ac ante blandit, mollis posuere erat
              scelerisque. Proin pretium tempus efficitur. Fusce commodo, diam non pellentesque tempus,
              dolor velit iaculis tortor, a tincidunt elit neque id diam. Donec luctus nulla ut justo
              mattis, in ultricies lectus sollicitudin. Pellentesque ac suscipit nisi. Sed neque leo,
              ullamcorper eu neque eget, faucibus consequat dolor. In viverra faucibus lacus sed
              consequat. Aliquam erat volutpat. Praesent et nibh at tellus imperdiet consequat. Sed
              felis metus, dapibus in gravida vehicula, pretium ut arcu. In condimentum nec magna non
              faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos.
            </p>
          </div>
        </div>
    
        <!-- event details content for location, attendance, dates, and cost -->
        <div class="w-[352px] h-[576px] sm:order-2 order-1">
          <p class="text-xl font-medium mb-4 text-gray-500">Event details</p>
          <hr class="mb-4" />
          <!-- Location -->
          <div class="flex items-center">
            <!-- using the icon component -->
            <Icon svgPaths={[
              "M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z",
              "M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z", ]}
              color="#F04438"  width="24" height="24" bgColor="bg-[#Fef3f2]" rounded="full" />
    
            <div class="ml-2 leading-6">
              <p class="text-xl font-bold text-gray-500">Location</p>
              <p class="font-normal text-gray-500">124, Johnson street, Asokoro, Abuja</p>
            </div>
          </div>
          <!-- Attendance -->
          <div class="flex items-center mt-8"> 
            <!-- using the icon component -->
            <Icon svgPaths={[
              "M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299",
              "M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21",
              "M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799",
              "M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z"]}
              color="#06AED4" width="24" height="24" bgColor="bg-[#ECFDFF]" rounded="full" />
    
            <div class="ml-2 leading-6">
              <p class="text-xl font-bold text-gray-500">Attendance</p>
              <p class="font-normal text-gray-500">Physical + Online</p>
            </div>
          </div>
          <!-- Date & Time -->
          <div class="flex mt-8">
          <!-- using the icon component -->
            <Icon svgPaths={[
              "M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z",
              "M3 10H21", "M16 2V6", "M8 2V6"]}
              color="#F79009" width="24" height="24" bgColor="bg-[#FFFAEB]" rounded="full" />
    
            <div class="ml-2">
              <p class="text-xl font-bold text-gray-500">Date & Time</p>
              <div class="flex mt-2">
                <div class="mr-8">
                  <p class="text-xs text-gray-700">From</p>
                  <p class="text-gray-500">June 30th</p>
                  <p class="text-gray-500">10:00 GMT +1</p>
                </div>
                <div>
                  <p class="text-xs text-gray-700">To</p>
                  <p class="text-gray-500">July 3rd</p>
                  <p class="text-gray-500">16:00 GMT +1</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Cost -->
          <div class="flex items-center mt-8">
            <!-- using the icon component -->
            <Icon svgPaths={[
              "M7 16C8 17 10 18 12 18M12 18C14.5 18 17 17.5 17 15C17 12.5 14.5495 12 12 12M12 18V12M12 18V21M12 12C9.5 12 7 11.5 7 9C7 6.5 9.5 6 12 6M12 12V6M12 6C14 6 16 7 17 8M12 6V3"]}
              color="#17B26A" width="24" height="24" bgColor="bg-[#ECFDF3]" rounded="full" />
              
            <div class="ml-2 leading-6">
              <p class="text-xl font-bold text-gray-500">Cost</p>
              <p class="font-normal text-gray-500">Free</p>
            </div>
          </div>
    
          <div class="flex mt-8 gap-4">
            <div class="w-[352px] text-center" id="custom-width">
              <Button href="#" label="Register" style="primary" size="md" />
            </div>
            <a href="#" class="inline-flex rounded-lg border border-[#4b5565] px-3 py-0 justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_2017_4760)">
                  <path d="M5 11.6667V16.6667C5 17.5871 5.74619 18.3333 6.66667 18.3333H15.8333C16.7538 18.3333 17.5 17.5871 17.5 16.6667V6.66667C17.5 5.74619 16.7538 5 15.8333 5H11.6667" stroke="#4B5565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.33203 10.8335L17.4987 10.8335" stroke="#4B5565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.332 3.3335V5.00016" stroke="#4B5565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.0013 1.6665V8.33317M1.66797 4.99984H8.33463" stroke="#4B5565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_2017_4760">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <div>
            <p class="text-sm text-gray-500 pt-4">Registration open till June 28th 10:00 GMT +1</p>
          </div>
        </div>
      </div>
    </section>

      <!-- Host & Speakers -->
    <section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 mt-16">
      <div class="w-[704px] sm:ml-[149px]">
        <p class="text-xl font-medium mb-4 text-gray-500">Host & Speakers</p>
        <hr />
        <!-- Host -->
        <div class="w-[221px] h-[60px]">
          <div class="flex mt-8">
            <div class="mr-[68px]">
              <p class="text-base font-semibold text-gray-700 mb-2">Host</p>
            </div>
            <div>
              <p class="text-base font-semibold text-gray-700">Ted X</p>
              <div class="flex items-center gap-2 mt-2">
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1949_14777)">
                      <path
                        d="M19.1654 2.50008C18.3674 3.06298 17.4838 3.4935 16.5487 3.77508C16.0468 3.198 15.3798 2.78899 14.6379 2.60335C13.896 2.41771 13.1149 2.46441 12.4004 2.73712C11.6859 3.00984 11.0724 3.49541 10.6428 4.12818C10.2133 4.76094 9.98845 5.51036 9.9987 6.27508V7.10841C8.53423 7.14639 7.08309 6.82159 5.77454 6.16295C4.46598 5.50431 3.34063 4.53228 2.4987 3.33341C2.4987 3.33341 -0.834635 10.8334 6.66536 14.1667C4.94914 15.3317 2.90466 15.9159 0.832031 15.8334C8.33203 20.0001 17.4987 15.8334 17.4987 6.25008C17.4979 6.01796 17.4756 5.78641 17.432 5.55841C18.2825 4.71966 18.8827 3.66067 19.1654 2.50008V2.50008Z"
                        stroke="#A3A3A3"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_1949_14777">
                        <rect width="20" height="20" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1949_14749)">
                      <path
                        d="M10.0013 18.3332C14.6037 18.3332 18.3346 14.6022 18.3346 9.99984C18.3346 5.39746 14.6037 1.6665 10.0013 1.6665C5.39893 1.6665 1.66797 5.39746 1.66797 9.99984C1.66797 14.6022 5.39893 18.3332 10.0013 18.3332Z"
                        stroke="#A3A3A3"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M1.66797 10H18.3346"
                        stroke="#A3A3A3"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M10.0013 1.6665C12.0857 3.94846 13.2703 6.90987 13.3346 9.99984C13.2703 13.0898 12.0857 16.0512 10.0013 18.3332C7.9169 16.0512 6.73234 13.0898 6.66797 9.99984C6.73234 6.90987 7.9169 3.94846 10.0013 1.6665V1.6665Z"
                        stroke="#A3A3A3"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_1949_14749">
                        <rect width="20" height="20" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <path
                      d="M5.0013 7.5H1.66797V17.5H5.0013V7.5Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M13.332 6.6665C14.6581 6.6665 15.9299 7.19329 16.8676 8.13097C17.8052 9.06865 18.332 10.3404 18.332 11.6665V17.4998H14.9987V11.6665C14.9987 11.2245 14.8231 10.8006 14.5105 10.488C14.198 10.1754 13.7741 9.99984 13.332 9.99984C12.89 9.99984 12.4661 10.1754 12.1535 10.488C11.841 10.8006 11.6654 11.2245 11.6654 11.6665V17.4998H8.33203V11.6665C8.33203 10.3404 8.85882 9.06865 9.7965 8.13097C10.7342 7.19329 12.0059 6.6665 13.332 6.6665V6.6665Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M3.33464 4.99984C4.25511 4.99984 5.0013 4.25365 5.0013 3.33317C5.0013 2.4127 4.25511 1.6665 3.33464 1.6665C2.41416 1.6665 1.66797 2.4127 1.66797 3.33317C1.66797 4.25365 2.41416 4.99984 3.33464 4.99984Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Speakers -->
        <div class="w-[227px] h-[120px] mt-8">
          <div class="flex mt-2">
            <div class="mr-8">
              <p class="text-base font-semibold text-gray-700">Speakers</p>
            </div>
            <div>
              <p class="text-base text-gray-700 mb-2">Olarewaju Seyi</p>
              <p class="text-base text-gray-700 mb-2">Emmanuel Chris</p>
              <p class="text-base text-gray-700">Mercy Chinwe</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Who can attend? -->
    <section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 mt-16">
      <div class="w-[704px] sm:ml-[149px]">
        <p class="text-xl font-medium mb-4 text-gray-500">Who can attend?</p>
        <hr />
        <!-- categories -->
        <div class="mt-8 flex flex-wrap gap-4">
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Front End Developers
          </span>
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Backend Developers
          </span>
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Founders
          </span>
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Community Managers
          </span>
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Designers
            </span>
          <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
            Social Media Influencers
          </span>
        </div>
      </div>
    </section>

     <!-- Tags section -->
    <section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 mt-16">
      <div class="w-[704px] sm:ml-[149px]">
        <p class="text-xl font-medium mb-4 text-gray-500">Tags</p>
        <hr />
        <!-- tags -->
        <div class="mt-8 flex flex-wrap gap-4">
          <span class="rounded-2xl border border-cyan-50 bg-cyan-50 text-cyan-500 px-2.5 py-1 text-xs">
            Nigeria
          </span>
          <span class="rounded-2xl border border-gray-50 bg-gray-50 text-gray-500 px-2.5 py-1 text-xs">
            Techie
          </span>
          <span class="rounded-2xl border border-red-50 bg-red-50 text-red-500 px-2.5 py-1 text-xs">
            Skills
          </span>
          <span class="rounded-2xl border border-violet-50 bg-violet-50 text-violet-500 px-2.5 py-1 text-xs">
            Tech events
          </span>
          <span class="rounded-2xl border border-green-50 bg-green-50 text-green-500 px-2.5 py-1 text-xs">
            Lagos
            </span>
        </div>
      </div>
    </section>

    <!-- Contact Organizer -->
    <section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 my-16">
      <div class="w-[704px] sm:ml-[149px]">
          <p class="text-xl font-medium mb-4 text-gray-500">Contact Organizer</p>
          <hr />

          <div class="flex mt-8">
            <div class="ml-2 mt-2 flex sm:flex-row flex-col">
                <!-- phone -->
                <div class="mr-16">
                  <div class="flex items-center">
                    <span class="mr-2 inline-flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_622_22875)">
                          <path d="M3.93558 10.9422L3.93564 10.9422L3.93132 10.9357C2.47472 8.7508 1.58116 6.15829 1.33469 3.56441C1.33786 2.96696 1.49016 2.41439 1.82139 2.01691C2.1679 1.6011 2.64749 1.3249 3.19504 1.25016H3.19531H3.1958H3.19629H3.19678H3.19727H3.19775H3.19824H3.19873H3.19922H3.19971H3.2002H3.20068H3.20117H3.20166H3.20215H3.20264H3.20312H3.20361H3.2041H3.20459H3.20508H3.20557H3.20605H3.20654H3.20703H3.20752H3.20801H3.2085H3.20898H3.20947H3.20996H3.21045H3.21094H3.21143H3.21191H3.2124H3.21289H3.21338H3.21387H3.21436H3.21484H3.21533H3.21582H3.21631H3.2168H3.21729H3.21777H3.21826H3.21875H3.21924H3.21973H3.22021H3.2207H3.22119H3.22168H3.22217H3.22266H3.22314H3.22363H3.22412H3.22461H3.2251H3.22559H3.22607H3.22656H3.22705H3.22754H3.22803H3.22852H3.229H3.22949H3.22998H3.23047H3.23096H3.23145H3.23193H3.23242H3.23291H3.2334H3.23389H3.23438H3.23486H3.23535H3.23584H3.23633H3.23682H3.2373H3.23779H3.23828H3.23877H3.23926H3.23975H3.24023H3.24072H3.24121H3.2417H3.24219H3.24268H3.24316H3.24365H3.24414H3.24463H3.24512H3.24561H3.24609H3.24658H3.24707H3.24756H3.24805H3.24854H3.24902H3.24951H3.25H3.25049H3.25098H3.25146H3.25195H3.25244H3.25293H3.25342H3.25391H3.25439H3.25488H3.25537H3.25586H3.25635H3.25684H3.25732H3.25781H3.2583H3.25879H3.25928H3.25977H3.26025H3.26074H3.26123H3.26172H3.26221H3.2627H3.26318H3.26367H3.26416H3.26465H3.26514H3.26562H3.26611H3.2666H3.26709H3.26758H3.26807H3.26855H3.26904H3.26953H3.27002H3.27051H3.271H3.27148H3.27197H3.27246H3.27295H3.27344H3.27393H3.27441H3.2749H3.27539H3.27588H3.27637H3.27686H3.27734H3.27783H3.27832H3.27881H3.2793H3.27979H3.28027H3.28076H3.28125H3.28174H3.28223H3.28271H3.2832H3.28369H3.28418H3.28467H3.28516H3.28564H3.28613H3.28662H3.28711H3.2876H3.28809H3.28857H3.28906H3.28955H3.29004H3.29053H3.29102H3.2915H3.29199H3.29248H3.29297H3.29346H3.29395H3.29443H3.29492H3.29541H3.2959H3.29639H3.29688H3.29736H3.29785H3.29834H3.29883H3.29932H3.2998H3.30029H3.30078H3.30127H3.30176H3.30225H3.30273H3.30322H3.30371H3.3042H3.30469H3.30518H3.30566H3.30615H3.30664H3.30713H3.30762H3.30811H3.30859H3.30908H3.30957H3.31006H3.31055H3.31104H3.31152H3.31201H3.3125H3.31299H3.31348H3.31396H3.31445H3.31494H3.31543H3.31592H3.31641H3.31689H3.31738H3.31787H3.31836H3.31885H3.31934H3.31982H3.32031H3.3208H3.32129H3.32178H3.32227H3.32275H3.32324H3.32373H3.32422H3.32471H3.3252H3.32568H3.32617H3.32666H3.32715H3.32764H3.32812H3.32861H3.3291H3.32959H3.33008H3.33057H3.33105H3.33154H3.33203H3.33252H3.33301H3.3335H3.33398H3.33447H3.33496H3.33545H3.33594H3.33643H3.33691H3.3374H3.33789H3.33838H3.33887H3.33936H3.33984H3.34033H3.34082H3.34131H3.3418H3.34229H3.34277H3.34326H3.34375H3.34424H3.34473H3.34521H3.3457H3.34619H3.34668H3.34717H3.34766H3.34814H3.34863H3.34912H3.34961H3.3501H3.35059H3.35107H3.35156H3.35205H3.35254H3.35303H3.35352H3.354H3.35449H3.35498H3.35547H3.35596H3.35645H3.35693H3.35742H3.35791H3.3584H3.35889H3.35938H3.35986H3.36035H3.36084H3.36133H3.36182H3.3623H3.36279H3.36328H3.36377H3.36426H3.36475H3.36523H3.36572H3.36621H3.3667H3.36719H3.36768H3.36816H3.36865H3.36914H3.36963H3.37012H3.37061H3.37109H3.37158H3.37207H3.37256H3.37305H3.37354H3.37402H3.37451H3.375H3.37549H3.37598H3.37646H3.37695H3.37744H3.37793H3.37842H3.37891H3.37939H3.37988H3.38037H3.38086H3.38135H3.38184H3.38232H3.38281H3.3833H3.38379H3.38428H3.38477H3.38525H3.38574H3.38623H3.38672H3.38721H3.3877H3.38818H3.38867H3.38916H3.38965H3.39014H3.39062H3.39111H3.3916H3.39209H3.39258H3.39307H3.39355H3.39404H3.39453H3.39502H3.39551H3.396H3.39648H3.39697H3.39746H3.39795H3.39844H3.39893H3.39941H3.3999H3.40039H3.40088H3.40137H3.40186H3.40234H3.40283H3.40332H3.40381H3.4043H3.40479H3.40527H3.40576H3.40625H3.40674H3.40723H3.40771H3.4082H3.40869H3.40918H3.40967H3.41016H3.41064H3.41113H3.41162H3.41211H3.4126H3.41309H3.41357H3.41406H3.41455H3.41504H3.41553H3.41602H3.4165H3.41699H3.41748H3.41797H5.91797C6.96406 1.25016 7.86425 2.01637 8.00438 3.05096C8.09098 3.82713 8.26403 4.60903 8.52706 5.31107C8.79844 6.05963 8.60475 6.89684 8.03105 7.54783L7.45667 8.1222L7.21514 8.36374L7.40461 8.64795C8.43029 10.1865 9.72001 11.5653 11.3621 12.6025L11.6437 12.7803L11.8793 12.5448L12.4626 11.9615C13.0145 11.4095 13.9265 11.1975 14.6905 11.4744C15.3925 11.7374 16.1743 11.9105 16.9505 11.9971C17.9851 12.1372 18.7513 13.0374 18.7513 14.0835V16.5835C18.7513 17.1559 18.5358 17.693 18.1512 18.0134C17.6818 18.4046 17.1919 18.6668 16.668 18.6668H16.6675H16.667H16.6665H16.666H16.6655H16.665H16.6646H16.6641H16.6636H16.6631H16.6626H16.6621H16.6616H16.6611H16.6606H16.6602H16.6597H16.6592H16.6587H16.6582H16.6577H16.6572H16.6567H16.6562H16.6558H16.6553H16.6548H16.6543H16.6538H16.6533H16.6528H16.6523H16.6519H16.6514H16.6509H16.6504H16.6499H16.6494H16.6489H16.6484H16.6479H16.6475H16.647H16.6465H16.646H16.6455H16.645H16.6445H16.644H16.6436H16.6431H16.6426H16.6421H16.6416H16.6411H16.6406H16.6401H16.6396H16.6392H16.6387H16.6382H16.6377H16.6372H16.6367H16.6362H16.6357H16.6353H16.6348H16.6343H16.6338H16.6333H16.6328H16.6323H16.6318H16.6313H16.6309H16.6304H16.6299H16.6294H16.6289H16.6284H16.6279H16.6274H16.627H16.6265H16.626H16.6255H16.625H16.6245H16.624H16.6235H16.623H16.6226H16.6221H16.6216H16.6211H16.6206H16.6201H16.6196H16.6191H16.6187H16.6182H16.6177H16.6172H16.6167H16.6162H16.6157H16.6152H16.6147H16.6143H16.6138H16.6133H16.6128H16.6123H16.6118H16.6113H16.6108H16.6104H16.6099H16.6094H16.6089H16.6084H16.6079H16.6074H16.6069H16.6064H16.606H16.6055H16.605H16.6045H16.604H16.6035H16.603H16.6025H16.6021H16.6016H16.6011H16.6006H16.6001H16.5996H16.5991H16.5986H16.5981H16.5977H16.5972H16.5967H16.5962H16.5957H16.5952H16.5947H16.5942H16.5938H16.5933H16.5928H16.5923H16.5918H16.5913H16.5908H16.5903H16.5898H16.5894H16.5889H16.5884H16.5879H16.5874H16.5869H16.5864H16.5859H16.5854H16.585H16.5845H16.584H16.5835H16.583H16.5825H16.582H16.5815H16.5811H16.5806H16.5801H16.5796H16.5791H16.5786H16.5781H16.5776H16.5771H16.5767H16.5762H16.5757H16.5752H16.5747H16.5742H16.5737H16.5732H16.5728H16.5723H16.5718H16.5713H16.5708H16.5703H16.5698H16.5693H16.5688H16.5684H16.5679H16.5674H16.5669H16.5664H16.5659H16.5654H16.5649H16.5645H16.564H16.5635H16.563H16.5625H16.562H16.5615H16.561H16.5605H16.5601H16.5596H16.5591H16.5586H16.5581H16.5576H16.5571H16.5566H16.5562H16.5557H16.5552H16.5547H16.5542H16.5537H16.5532H16.5527H16.5522H16.5518H16.5513H16.5508H16.5503H16.5498H16.5493H16.5488H16.5483H16.5479H16.5474H16.5469H16.5464H16.5459H16.5454H16.5449H16.5444H16.5439H16.5435H16.543H16.5425H16.542H16.5415H16.541H16.5405H16.54H16.5396H16.5391H16.5386H16.5381H16.5376H16.5371H16.5366H16.5361H16.5356H16.5352H16.5347H16.5342H16.5337H16.5332H16.5327H16.5322H16.5317H16.5313H16.5308H16.5303H16.5298H16.5293H16.5288H16.5283H16.5278H16.5273H16.5269H16.5264H16.5259H16.5254H16.5249H16.5244H16.5239H16.5234H16.523H16.5225H16.522H16.5215H16.521H16.5205H16.52H16.5195H16.519H16.5186H16.5181H16.5176H16.5171H16.5166H16.5161H16.5156H16.5151H16.5146H16.5142H16.5137H16.5132H16.5127H16.5122H16.5117H16.5112H16.5107H16.5103H16.5098H16.5093H16.5088H16.5083H16.5078H16.5073H16.5068H16.5063H16.5059H16.5054H16.5049H16.5044H16.5039H16.5034H16.5029H16.5024H16.502H16.5015H16.501H16.5005H16.5H16.4995H16.499H16.4985H16.498H16.4976H16.4971H16.4966H16.4961H16.4956H16.4951H16.4946H16.4941H16.4937H16.4932H16.4927H16.4922H16.4917H16.4912H16.4907H16.4902H16.4897H16.4893H16.4888H16.4883H16.4878H16.4873H16.4868H16.4863H16.4858H16.4854H16.4849H16.4844H16.4839H16.4834H16.4829H16.4824H16.4819H16.4814H16.481H16.4805H16.48H16.4795H16.479H16.4785H16.478H16.4775H16.4771H16.4766H16.4761H16.4756H16.4751H16.4746H16.4741H16.4736H16.4731H16.4727H16.4722H16.4717H16.4712H16.4707H16.4702H16.4697H16.4692H16.4688H16.4683H16.4678H16.4673H16.4668H16.4663H16.4658H16.4653H16.4648H16.4644H16.4639H16.4634H16.4629H16.4624H16.4619H16.4614H16.4609H16.4605H16.46H16.4595H16.459H16.4585H16.458H16.4575H16.457H16.4565H16.4561H16.4556H16.4551H16.4546H16.4541H16.4536H16.4531H16.4526H16.4521H16.4517H16.4512H16.4507H16.4502H16.4497H16.4492H16.4487H16.4482H16.4478H16.4473H16.4468H16.4463H16.4458H16.4453H16.4448H16.4443H16.4441C13.8431 18.338 11.2456 17.4422 9.0579 16.065C7.02587 14.7642 5.23615 12.9744 3.93558 10.9422ZM2.45667 2.53887L2.40886 2.58668L2.37862 2.64716C2.37685 2.6507 2.37507 2.65427 2.37326 2.65787C2.28848 2.82729 2.16797 3.06807 2.16797 3.41683V3.43832L2.17018 3.4597C2.42714 5.94362 3.28336 8.33884 4.65036 10.4748L4.65034 10.4748L4.6523 10.4778C5.92821 12.4342 7.55242 14.1485 9.53064 15.3536C11.6656 16.7192 14.0594 17.5745 16.5418 17.8313L16.5631 17.8335H16.5846C16.785 17.8335 16.9666 17.8086 17.1352 17.7412C17.3072 17.6724 17.4364 17.571 17.5459 17.4615C17.6539 17.3535 17.7514 17.229 17.8196 17.0756C17.8885 16.9204 17.918 16.7571 17.918 16.5835V14.0835C17.918 13.4256 17.3994 12.9549 16.833 12.8416L16.813 12.8376L16.7928 12.8356C16.0125 12.7575 15.2193 12.5219 14.406 12.1966L14.3798 12.1861L14.3524 12.1793C13.9724 12.0843 13.4479 12.0476 13.04 12.4555L11.9567 13.5389C11.8285 13.667 11.6082 13.7086 11.4443 13.6307C9.28461 12.4287 7.52205 10.6727 6.31234 8.51844C6.27779 8.31282 6.34245 8.0816 6.4626 7.96146L7.54593 6.87812C7.7121 6.71195 7.79814 6.47388 7.83696 6.27979C7.8769 6.0801 7.88537 5.83475 7.81325 5.6184L7.80938 5.60679L7.80483 5.59542C7.49234 4.81418 7.33206 4.02905 7.16695 3.20381C7.15232 2.87117 6.9815 2.59274 6.76377 2.40404C6.53719 2.20767 6.2335 2.0835 5.91797 2.0835H3.41797C3.0017 2.0835 2.65039 2.34515 2.45667 2.53887Z" fill="black" stroke="#4B5565" stroke-width="0.833333"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_622_22875">
                            <rect width="20" height="20" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                    </span> 
                    <p class="text-base font-semibold text-gray-700">Phone</p>
                  </div>
                  <p class="text-gray-500">+234 902 802 2873, +234 902 802 2873</p>
                </div>

                <!-- mail -->
                <div class="mt-8 sm:mt-0">
                  <div class="flex items-center">
                    <span class="mr-2 inline-flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M3.33464 3.3335H16.668C17.5846 3.3335 18.3346 4.0835 18.3346 5.00016V15.0002C18.3346 15.9168 17.5846 16.6668 16.668 16.6668H3.33464C2.41797 16.6668 1.66797 15.9168 1.66797 15.0002V5.00016C1.66797 4.0835 2.41797 3.3335 3.33464 3.3335Z" stroke="#4B5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3346 5L10.0013 10.8333L1.66797 5" stroke="#4B5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                    <p class="text-base font-semibold text-gray-700"></p>Mail</p>
                  </div>
                  <p class="text-base text-gray-700 border-[#9aa4b2] border-b">tedx@hotmail.com</p>
                </div>
            </div>
          </div>
      </div>      
    </section>
</Layout>